<% if logged_in? %>
  <section class="jumbotron  text-center">
    <h2><img class="jumbo-thumbnail" src="<%= current_user["info"]["image"] %>"/></h2>
    <h1>Welcome, <%= current_user["info"]["name"] %></h1>
  </section>
<% else %>
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Track your mood</h1>
    <p class="lead">My Mood Tracker is a tool for logging your mood daily and visualizing it over time.</p>
    <p class="lead">
      <%= link_to "Learn More", '/info', class: "btn btn-lg btn-secondary" %>
    </p>
  </main>
<% end %>